/* Color and Typography */

:root {
  --foreground: #000000;
  --background: #f9f9f7;
  --color-main: #479e8a;
  --color-alt: #984c40;
  --font-sans: Roboto, sans-serif;
  --font-serif: Lora, serif;
}

html,
body {
  background: url("/assets/double-bubble-outline.png") var(--background) repeat;
  color: var(--foreground);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
ul,
li {
  font: inherit;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  font: inherit;
  text-decoration: inherit;
}

a:hover,
a:focus {
  color: var(--color-alt);
}

.btn {
  background: var(--foreground);
  border-radius: 8px;
  color: var(--background);
  display: inline-block;
  margin: 20px 0;
  padding: 6px 24px 8px;
}

.btn:hover,
.btn:focus {
  color: var(--background);
}

.text--main {
  color: var(--color-main);
}

.text--alt {
  color: var(--color-alt);
}

.text--accent {
  color: var(--foreground);
}

.uppercase {
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.title {
  font-family: var(--font-serif);
  font-size: 36px;
  font-weight: 500;
  line-height: 44px;
}

.subtitle {
  font-family: var(--font-sans);
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 24px;
}

.callout {
  font-family: var(--font-sans);
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 30px;
}

body,
.body {
  font-family: var(--font-sans);
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 27px;
}

.body > p {
  max-width: 34em;
}

.body > p + p {
  margin-top: 20px;
}

.small-caps {
  font-family: var(--font-sans);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 27px;
  text-transform: uppercase;
}

.info {
  font-family: var(--font-sans);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.quote {
  font-family: var(--font-serif);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 27px;
}

.fine-print {
  font-family: var(--font-sans);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 27px;
  margin-top: 27px;
  text-align: center;
}

/* Layout and document styles */

body {
  padding: 0 20px;
}

img,
svg {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
}

.icon {
  vertical-align: middle;
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}

.nav--links,
.social {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 9px;
  justify-content: center;
}

.nav--link {
  position: relative;
  z-index: 0;
}

.nav--link.selected {
  cursor: default;
  font-weight: 700;
}

.nav--link.selected:hover {
  color: inherit;
}

.nav--link.selected::before,
.nav--link.selected::after {
  content: "";
  display: block;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  z-index: -1;
}

.nav--link.selected::before {
  background: var(--color-main);
  border-radius: 37px;
  height: 37px;
  transform: translate(-16px, -5px);
  width: 37px;
}

.nav--link.selected::after {
  background: var(--color-alt);
  border-radius: 8px;
  height: 14px;
  transform: translate(-19px, -9px) rotate(45deg);
  width: 20px;
}

.nav--home {
  display: none;
}

.social {
  align-items: center;
  flex-direction: row;
  gap: 18px;
}

.nav > .logo-mark p {
  display: none;
}

.logo,
.logo-mark {
  --foreground: var(--color-main);
  flex-shrink: 0;
  overflow: visible;
  position: relative;
}

.logo-mark {
  display: flex;
}

.logo:not(:link),
.logo-mark:not(:link) {
  cursor: default;
}

.logo-mark svg {
  margin-left: -20px;
  margin-top: -3px;
  max-width: unset;
  width: 100px;
}

.logo--ornament {
  background: var(--foreground);
  border-radius: 20px;
  position: absolute;
  height: 25px;
  left: 50%;
  top: 50%;
  transform: translate(-9px, -52px) rotate(35deg);
  width: 50px;
}

.hoz-rule {
  background: linear-gradient(
    to right,
    #8CBFB1,
    #F4DC98,
    #D79D5B,
    #8D433A
  );
  border-radius: 3px;
  height: 3px;
}

.content {
  padding: 40px 0 80px;
  margin: 0 auto;
  max-width: 1400px;
}

.heading {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 32px;
}

.heading--icon {
  width: 96px;
}

.section + .section {
  margin-top: 80px;
}

.home--content {
  margin-bottom: 32px;
}

.hero-image {
  display: block;
  margin: 0 auto;
}

.confetti--wrapper {
  height: 50px;
  margin: 0 -20px;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.confetti {
  border-radius: 8px;
  height: 25px;
  position: absolute;
  width: 50px;
}

.confetti--tl {
  background: var(--color-alt);
  left: 0;
  top: 0;
  transform: translate(-50%, -50%) rotate(45deg);
}

.confetti--tr {
  background: #8bbeb0;
  right: 0;
  top: 0;
  transform: translate(50%, -50%) rotate(135deg);
}

.confetti--bl {
  background: var(--color-main);
  left: 0;
  bottom: 0;
  transform: translate(-50%, 50%) rotate(135deg);
}

.confetti--br {
  background: var(--color-alt);
  right: 0;
  bottom: 0;
  transform: translate(50%, 50%) rotate(45deg);
}

/* Home page */

.folks {
  display: grid;
  gap: 30px;
  justify-content: center;
  max-width: 1220px;
}

.person {
  text-align: center;
}

.folks > .person:nth-child(even) {
  --foreground: var(--color-main);
}

.folks > .person:nth-child(odd) {
  --foreground: var(--color-alt);
}

.portrait {
  width: 200px;
}

.affiliates {
  display: grid;
  gap: 42px;
  grid-template-columns: 1fr;
  max-width: 1000px;
}

.affiliate--link {
  display: block;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.affiliate {
  align-items: center;
  display: flex;
}

.affiliate:nth-child(3n) .logo,
.affiliate:nth-child(5n - 3) .logo {
  --foreground: var(--color-alt);
}

.affiliate:nth-child(2n + 1) .logo--ornament {
  transform: translate(-40px, -40px) rotate(-15deg);
}

.affiliate:nth-child(3n) .logo--ornament {
  transform: translate(-40px, 25px) rotate(28deg);
}

.affiliate > .logo {
  display: none;
}

/* Contact page */

.contact {
  display: block;
  text-align: center;
}

.contact--callout {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 6px;
}

.contact > .section {
  display: inline-block;
  text-align: left;
}

.contact--title {
  margin-bottom: 40px;
}

.contact--content {
  margin: 40px 0 60px;
}

.contact--hours {
  border: 0;
  border-collapse: collapse;
  padding: 0;
}

.contact--hours td:first-of-type {
  padding-right: 20px;
}

.contact--block + .contact--block {
  margin-top: 38px;
}

/* Horses page */

.horse-listings {
  display: grid;
  gap: 32px;
  justify-content: center;
}

.listing {
  max-width: 544px;
}

.listing--info {
  margin: 4px 0 12px !important;
  min-height: 48px;
}

.listing--image {
  margin-bottom: 8px;
}

.horse-listings > .listing:nth-child(even) {
  --foreground: var(--color-main);
}

.horse-listings > .listing:nth-child(odd) {
  --foreground: var(--color-alt);
}

@media (min-width: 380px) {
  .info {
    font-size: 20px;
    line-height: 24px;
  }
  .nav > .logo-mark p {
    display: block;
  }
  .folks {
    grid-template-columns: repeat(auto-fill, 150px);
  }
  .portrait {
    width: 200px;
  }
}

@media (min-width: 480px) {
  .affiliate > .logo {
    display: block;
  }
}

@media (min-width: 600px) {
  .nav--home {
    display: block;
  }
  .nav--links {
    flex-direction: row;
    gap: 40px;
  }
  .home--content {
    padding-left: 116px;
  }
}

@media (min-width: 768px) {
  body {
    padding: 0 40px;
  }
  .info,
  .callout,
  .contact--callout {
    font-size: 30px;
    line-height: 38px;
  }
  .confetti--wrapper {
    margin: 0 -40px;
  }
  .logo-mark svg {
    margin-left: 0;
  }
  .folks {
    display: flex;
    flex-wrap: wrap;
  }
  .portrait {
    width: 256px;
  }
  .affiliates {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  body {
    padding: 0 60px;
  }
  .confetti--wrapper {
    margin: 0 -60px;
  }
  .confetti--tl {
    transform: translate(-35%, -35%) rotate(45deg);
  }
  .confetti--tr {
    transform: translate(35%, -35%) rotate(135deg);
  }
  .confetti--bl {
    transform: translate(-35%, 35%) rotate(135deg);
  }
  .confetti--br {;
    transform: translate(35%, 35%) rotate(45deg);
  }
  .content {
    padding: 70px 0 90px;
  }
  .contact {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px;
  }
  .contact--title {
    margin-bottom: 64px;
  }
  .home--content {
    margin-right: 32px;
    padding-left: 0;
  }
  .section--hero {
    align-items: flex-start;
    display: flex;
  }
  .title {
    font-size: 60px;
    line-height: 66px;
  }
  .hero-image {
    margin: 0;
    max-width: 400px;
  }
  .horse-listings {
    grid-template-columns: repeat(auto-fill, 544px);
  }
}

@media (min-width: 1400px) {
  .home--wrapper {
    padding-left: 160px;
  }
  .heading {
    gap: 32px;
    margin-left: -160px;
  }
  .heading--icon {
    width: 128px;
  }
  .hero-image {
    max-width: 512px;
  }
  .folks {
    justify-content: flex-start;
  }
}
